@model Store2.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<main aria-labelledby="title">

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Change your account settings</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>Password:</dt>
                            <dd>
                                [
                                @if (Model.HasPassword)
                                {
                                    @Html.ActionLink("Change your password", "ChangePassword")
                                }
                                else
                                {
                                    @Html.ActionLink("Create", "SetPassword")
                                }
                                ]
                            </dd>
                            <dt>External Logins:</dt>
                            <dd>
                                @Model.Logins.Count [
                                @Html.ActionLink("Manage", "ManageLogins") ]
                            </dd>
                            <!-- Other account settings here -->
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
