@model Store2.Models.IndexViewModel

@{
    ViewBag.Title = "Manage";
}

<main aria-labelledby="title">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h4 class="card-title">Account Settings</h4>
                        <p class="text-success">@ViewBag.StatusMessage</p>
                        <hr />
                        <div class="mb-4">
                            <h5>Personal Information</h5>
                            <p><strong>Customer Name:</strong> @Model.CustomerName</p>
                            <p><strong>Role:</strong> @Model.Role</p>
                        </div>
                        <div class="mb-4">
                            <h5>Password</h5>
                            <p>
                                @if (Model.HasPassword)
                                {
                                    @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-primary" })
                                }
                                else
                                {
                                    @Html.ActionLink("Create a password", "SetPassword", null, new { @class = "btn btn-primary" })
                                }
                            </p>
                        </div>
                        <div class="mb-4">
                            <h5>External Logins</h5>
                            <p>@Model.Logins.Count linked accounts</p>
                            <p>
                                @Html.ActionLink("Manage external logins", "ManageLogins", null, new { @class = "btn btn-secondary" })
                            </p>
                        </div>
                        <div class="mb-4">
                            <h5>Profile Information</h5>
                            <p>
                                @Html.ActionLink("Edit Profile", "EditProfile", "Account", new { }, new { @class = "btn btn-info" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
